<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.pan.service" />

    <bean id="userService" class="com.pan.service.UserServiceImpl">
        <property name="userMapper" ref="userMapper" />
    </bean>

    <bean id="panFileService" class="com.pan.service.PanFileServiceImpl">
        <property name="panFileMapper" ref="panFileMapper" />
    </bean>

    <bean id="gson" class="com.google.gson.Gson" />

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="utf-8" />
        <property name="maxUploadSize" value="104857600" />
        <property name="maxInMemorySize" value="40960" />
    </bean>

</beans>